<!DOCTYPE html>
<html lang="{{ .Params.lang | default "id" }}">
  <head>
    <title>{{.Title}}</title>    
    
    {{ partial "component/meta/data" . | safeHTML }}


    {{ with .OutputFormats.Get "RSS" }}
     <link rel="{{ .Rel }}" type="{{ .MediaType.Type }}" href="{{ .Permalink }}">
    {{ end }}

    {{ with .OutputFormats.Get "AMP" }}
     <link rel="{{ .Rel }}" href="{{ .Permalink }}">
    {{ end }}





    <link rel="preconnect" href="//fonts.googleapis.com">
    <link rel="preconnect" href="//fonts.gstatic.com" crossorigin>
    {{- with .Site.Params.googlefonts -}}
    <link href="{{- . -}}" rel="stylesheet">
    {{- else -}}
    <link href="//fonts.googleapis.com/css?family=Raleway:400,700" rel="stylesheet">
    {{- end -}}
    
    
    {{ $css := resources.Get "css/style.css" }}
    {{ $grid := resources.Get "css/grid.css" }}
    {{ $navbar := resources.Get "css/navbar.css" }}
    {{ $card := resources.Get "css/card.css" }}
    {{ $custom := resources.Get "css/custom.css" }}
    {{ $btn := resources.Get "css/btn.css" }}

    {{ $style := slice $css $grid $navbar $card $custom $btn | resources.Concat "style.css" | resources.Minify | resources.Fingerprint }}

    <link href="{{ $style.RelPermalink }}" rel="stylesheet" type="text/css"/>


    {{ $inline := resources.Get "css/index-inline.css" }}
    

    {{ $inline := slice $inline | resources.Concat "index-inline.css" | minify | fingerprint}}

    <style>
     {{ $inline.Content | safeCSS }}
    </style>
	

  {{ partial "component/meta/schema/WebSite.json" . | safeHTML }}
	
  {{ template "_internal/google_analytics_async.html" . }}
  <!--
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <script>
     (adsbygoogle = window.adsbygoogle || []).push({
          google_ad_client: "ca-pub-8751263644994394",
          enable_page_level_ads: true
     });
  </script>  
  -->
  </head>

  <body>
  

	 {{- partial "navigation" . | safeHTML -}}
	   
	 {{ .Content }}
        
        
	 {{- partial "footer" . | safeHTML -}}
     


  </body>
</html>