{{$imagelink := print "/static" (.Params.thumbnail | relURL) }}
{{$imgData := imageConfig $imagelink }}

<div class="card mb-4 box-shadow mb-5 mt-5">
   <img class="card-img-top" style="height: auto;" src="{{.Params.thumbnail}}" loading="lazy" alt="{{.Title}}" height="{{ $imgData.Height }}" width="{{ $imgData.Width }}">
    <div class="card-body">
        <h2 class="h3 card-title">
            <a href="{{ .Permalink }}"> {{ .Title }}</a>
        </h2>
        <p class="card-text">{{ .Summary |safeHTML }}</p>
        <div class="d-flex justify-content-between align-items-center">
            <small class="text-muted">
               <time datetime="{{ .Lastmod.Format "2006-01-02T15:04:05JST" }}"> {{ .Lastmod.Format ( .Site.Params.dateformat | default "2006") }}</time>
            </small>
        </div>
    </div>
</div>
