{{ $src := .Get "src" | safeURL }}
{{ $type_arr := split $src "." }}
{{ $srcbase := index $type_arr 0 }}

{{ $config := imageConfig (printf "/static/%s" $src) }}


<figure class="{{ .Get "class" }} mb-5 mt-5">
  <amp-img 
  src="{{ .Get "src" | absURL }}" 
  alt="{{ .Get "caption" }}" 
  height="{{$config.Height}}" 
  width="{{$config.Width}}"
  layout="{{ .Get "layout" | default "responsive" }}">
  </amp-img>
  {{ if .Get "caption" }}
  <figcaption>
    {{ if .Get "href" }}
     {{ .Get "caption" }}
    {{ else }}
     {{ .Get "caption" }}
    {{ end }}
  </figcaption>
  {{ end }}
</figure>